.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.about__img {
    border-radius: 50%;
    width: 10rem;
    /* height: 12rem; */
}

.about__greet {
    color: var(--clr-red400);
    font-size: var(--size-xl);
}

.about__name {
    color: var(--clr-light);
    /* text-transform: uppercase; */
}

.about__intro {
    color: var(--clr-slate400);
    font-size: var(--size-sm);
}

.about__skills {
    color: var(--clr-emarald400);
    font-size: var(--size-base);
}

.about__hobbies {
    color: var(--clr-emarald400);
    font-size: var(--size-sm);
}

/* xs - 475px */

/* @media (min-width: 475px) {
    .
} */

/* sm - 640px */

/* @media (min-width: 640px) {
    
} */

/* md - 768px */

@media (min-width: 768px) {
    .split {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
        gap: 2rem;
    }
    .about__img {
        width: 15rem;
        /* height: 12rem; */
    }
    .order {
        order: 1;
    }
}

/* lg - 1024px */

/* @media (min-width: 1024px) {
    
} */

/* xl - 1280px */

/* @media (min-width: 1280px) {
    
} */

/* 2xl - 1536px */

/* @media (min-width: 1536px) {
    
} */