.profile__list {
    display: flex;
    gap: 2em;
    /* text-decoration: none; */
    list-style: none;
    /* margin: auto; */
    /* width: 100%; */
    position: relative;
    justify-content: center;
    margin-top: 1em;
    /* border: 1px solid red; */
    padding-top: 0.5em;
}

.profile{
    text-align: center;
    margin-bottom: 10em;
    margin-top: 3em;
}

#icon {
    text-decoration: none;
    transition: transform 0.3s ease;
    /* border: 1px solid red;  */
}

#icon:hover {
    transform: scale(1.1);
}

#icon:hover path {
    fill: var(--clr-emarald400);
}

.profile__list svg {
    width: 2rem;
    height: 2rem;
}

/* xs - 475px */

/* @media (min-width: 475px) {
    .
} */

/* sm - 640px */

/* @media (min-width: 640px) {
    
} */

/* md - 768px */

/* @media (min-width: 768px) {
    
} */

/* lg - 1024px */

/* @media (min-width: 1024px) {
    
} */

/* xl - 1280px */

/* @media (min-width: 1280px) {
    
} */

/* 2xl - 1536px */

/* @media (min-width: 1536px) {
    
} */