:root{
    --clr-dark : #020617;
    --clr-light : #f1f5f9;
    --clr-slate-200 : #e2e8f0;
    --clr-slate400 : #94a3b8;
    --clr-slate600 : #475569;
    --clr-slate800 : #1e293b;
    --clr-red600 : #dc2626;
    --clr-red400 : #f87171;
    --clr-indigo600 : #4f46e5;
    --clr-emarald400 : #0ea5e9;

    --size-xs : 0.75rem;
    --size-sm : 0.875rem;
    --size-base : 1rem;
    --size-lg : 1.125rem;
    --size-xl : 1.25rem;
    --size-2xl : 1.5rem;
}

*{
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
    /* line-height: 1.5; */
}

html{
    scroll-behavior: smooth;
}

body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--clr-dark);
  /* background-color: black; */
  color: var(--clr-light);
}

img, svg, picture{
    max-width: 100%;
    display: block;
}

button{
    display: inline-block;
    padding: 0;
    border-style: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a{
    color: var(--clr-red600);
}

strong {
    color: var(--clr-indigo600);
}